.preview {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
}

.preview__content {
    height: 100%;
    border: var(--border-default);
    padding: var(--space-x2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.preview--hide {
    display: none;
}

.btn {
    text-transform: uppercase;
    cursor: pointer;
    padding: var(--space-x2);
    border: var(--border-default);
    border-radius: var(--border-radius);
    background-color: var(--color-background-1);
    font-size: var(--font-large);
    font-weight: var(--font-weight-700);
    line-height: 26px;
    box-shadow: var(--shadow);
}

.btn--uppercase {
    text-transform: uppercase;
}

.js-ui-create-tower:not(.js-tower-active) > .image:nth-child(2) {
    display: block;
}

.js-ui-create-tower.js-tower-active > .image:nth-child(1) {
    display: block;
}

.image {
    width: 28px;
    height: 28px;
}

.image--hidden {
    display: none;
}

.stats {
    position: absolute;
    left: var(--space-x3);
    top: var(--space-x3);
    background-color: var(--color-background-2);
    border: var(--border-default);
    border-radius: var(--border-radius);
    padding: var(--space-x3);
    box-shadow: var(--shadow);
}

.stats__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-x3);
    margin: 0;
    padding: 0;
}

.stats__item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.stats__property {
    background-color: var(--color-background-3);
    text-transform: uppercase;
    font-size: var(--font-large);
    font-weight: var(--font-weight-700);
    line-height: 26px;
    padding: var(--space-x2);
    border: var(--border-default);
    border-radius: var(--border-radius);
}

.stats__property:not(:first-child) {
    margin-left: var(--space-x3);
}

.stats__item > .stats__property:first-child {
    flex-grow: 1;
    text-align: center;
    width: 160px;
}

.stats__item > .stats__property:last-child {
    width: 60px;
    text-align: center;
}

.menu {
    position: absolute;
    bottom: var(--space-x3);
    left: 50%;
    background-color: var(--color-background-2);
    border: var(--border-default);
    border-radius: var(--border-radius);
    padding: var(--space-x3);
    transform: translateX(-50%);
    box-shadow: var(--shadow);
}

.menu__list {
    display: flex;
    gap: var(--space-x3);
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu__list.js-disabled .btn {
    pointer-events: none;
    background-color: var(--color-disabled);
}

.menu__inner {
    display: flex;
    gap: var(--space-x3);
}

.menu__item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:first-child) {
    margin-left: var(--space-x3);
}

.modal {
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    padding: var(--space-x3);
    box-shadow: var(--shadow);
    transform: translate(-50%, -50%);
    border: var(----border-default);
    border: var(--border-default);
    border-radius: var(--border-radius);
    background-color: var(--color-background-4);
}

.modal__content {
    display: flex;
    flex-direction: column;
    padding: var(--space-x3);
}

.title {
    text-align: center;
    text-decoration: underline;
    font-size: var(--font-xlarge);
    font-weight: var(--font-weight-700);
    line-height: 32px;
    margin-bottom: var(--space-x3);
}

.js-modal-show {
    display: block;
}
